@use "buttons";
@use "RecipeList";
@use "Recipe";

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL */
@font-face {
  font-family: Averia;
  src: url(../fonts/averia.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.7%;
  background-color: linen;
  font-family: Averia, sans-serif;
  color: #333;
}
main {
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  font-size: 1.5rem;
}
button {
  cursor: pointer;
}

/* *** */
