.edit-btn,
.delete-btn {
  background-color: white;
  border: none;
  // font-size: 2rem;
}

.delete-btn {
  img {
    transition: 0.3s;
    border-radius: 50%;
    &:hover {
      background-color: rgb(255, 193, 193);
      transform: rotate(-180deg);
    }
  }
}

i {
  color: rgb(216, 31, 31);
}

.add-btn--container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  button {
    font-family: inherit;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 3rem;
    border: 2px solid #333;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
      // outline: 2px solid #333;
      background-color: rgb(148, 205, 148);
    }
    img,
    span {
      width: 50%;
      font-weight: bold;
    }
  }
}
