.recipe-edit--container {
  background-color: #fff;
  font-size: 1.5rem;

  &__close-btn--container {
    width: 100%;
    text-align: right;
    button {
      border: none;
      background-color: #fff;
      font-size: 3rem;
      font-family: inherit;
    }
  }
}

.form-grid {
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-items: center;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.edit-ingredients--grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  gap: 1rem;
  margin-bottom: 2rem;
}
